@model m_cls_ZGithub


<h1>ZWMYINT GitHub</h1>
<div>
	@Model.login
</div>
<div>
	@Model.id
</div>
<div>
	@Model.node_id
</div>
<div>
	@Model.avatar_url
</div>
<div>
	@Model.url
</div>
<div>
	@Model.html_url
</div>
<div>
	@Model.type
</div>
<div>
	@Model.site_admin
</div>
<div>
	@Model.name
</div>
<div>
	@Model.location
</div>
<div>
	@Model.hireable
</div>